# Root docker-compose env. Individual apps also have their own .env files.
POSTGRES_USER=medspa
POSTGRES_PASSWORD=medspa
POSTGRES_DB=medspa
POSTGRES_PORT=5432

REDIS_PORT=6379

API_PORT=8000
WEB_PORT=3000
